# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Ambiente
.env
.env.* 

# Sistema
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Editor/IDE
.vscode/
.idea/

# Documentos e notas internas
notes.md
CONFIGURACAO_SEGURA.md
MELHORIAS_IMPLEMENTADAS.md
API.md
estrutura_base_dados_pos.md

#deploy 
.Deploy/