
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Ambiente
.env
.env.* 

# Sistema
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Editor/IDE
.vscode/
.idea/


notes.md